<h1>{{funding.name}}</h1>
<h1>{{funding.website}}</h1>
<h1>{{funding.email}}</h1>
<h1>{{funding.phone}}</h1>

<form method="POST" action="/users/{{ user ._id }}?_method=DELETE">
    <input type="submit" value="Delete User" />
</form>