<h1></h1>
<h3>{{funding.name}}</h3>
<h3>{{funding.website}}</h3>
<h3>{{funding.email}}</h3>
<h3>{{funding.phone}}</h3>

<a href="/funders/{{funders.id}}/update">
        <input type="submit" value="Update Fund" />
</a>

<form method="POST" action="/funders/{{ funders ._id }}?_method=DELETE">
    <input type="submit" value="Delete User" />
</form>