<h1>{{investors.name}}</h1>
<h3>{{investors.website}}</h3>
<h3>{{investors.email}}</h3>
<h3>{{investors.phone}}</h3>

<a href="/investors/{{investors.id}}/update">
        <input type="submit" value="Update Investors" />
</a>

<form method="POST" action="/investors/{{ investors ._id }}?_method=DELETE">
    <input type="submit" value="Delete User" />
</form>